<a href="https://colab.research.google.com/github/oliviachchoi/SDproject-bike-/blob/main/%EC%A0%80%EC%9E%A5%ED%95%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%88%EB%9F%AC%EC%98%A4%EB%8A%94_%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

bike=pd.read_csv('/content/drive/MyDrive/따릉이 project/만든 데이터/data_bike.csv',encoding='UTF-8',index_col=None)
dust=pd.read_csv('/content/drive/MyDrive/따릉이 project/만든 데이터/dust_final.csv',encoding='UTF-8')

In [14]:
bike

         Unnamed: 0        date  time  num  stno place  year  month  day
0              1800  2020-01-01     1    1  1153   강서구  2020      1    1
1              1801  2020-01-01     2    1  1153   강서구  2020      1    1
2              1802  2020-01-01     2    1  1153   강서구  2020      1    1
3              1803  2020-01-01     6    1  1153   강서구  2020      1    1
4              1804  2020-01-01     7    2  1153   강서구  2020      1    1
...             ...         ...   ...  ...   ...   ...   ...    ...  ...
4841085     5023900  2020-12-30    17    1  3788   강서구  2020     12   30
4841086     5023901  2020-12-31    16    1  3788   강서구  2020     12   31
4841087     5023902  2020-12-31    16    1  3788   강서구  2020     12   31
4841088     5023903  2020-12-29    18    1  3776   강서구  2020     12   29
4841089     5023904  2020-12-30    19    1  3776   강서구  2020     12   30

[4841090 rows x 9 columns]